#
# Copyright (C) 2020,2021  CismonX <admin@cismon.net>
#
# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty, provided the copyright notice and
# this notice are preserved. This file is offered as-is, without any warranty.
#

**/*.map
**/*.ts
**/*.vsce-pre-package-backup
.drone.yml
.gitignore
.gitattributes
.travis.yml
.vscode/
doc/
LICENSE_NOTICE.md
node_modules/
src/
scripts/
tsconfig.json
